@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: Inter, Questrial, ui-sans-serif, system-ui, '-apple-system',
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue';
    height: 100%;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    max-width: 100vw;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    @apply bg-gray-100 dark:bg-gray-930 text-gray-700 dark:text-gray-400;
  }
}

textarea:focus,
input:focus,
textarea:active,
input:active {
  outline: none;
  background: transparent;
}

.app-default-layout {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  background-color: #f1f1f1;

  @apply overflow-y-auto;
}
